*{
    text-align: center; /* Alinha todo o texto para o centro */
    margin:0; /* Remove o espaçamento padrão */
    padding: 0; 
    font-family: 'Lato', sans-serif; /* Define a fonte padrão */
} 

/*==========MENU==========*/

header{
    background-color: #5d7ab6; /* Define a cor de fundo */
    opacity: 100%; /* Define a opacidade */
    padding: 20px 0; /* Define o espaçamento interno */
    position: fixed; /* Define a posição fixa */
    width: 100%; /* Define a largura */
    height: 40px; /* Define a altura */
}

#menu{
    height: 40px; /* Define a altura */
    display: flex; /* Define o display flex */
    justify-content: space-around; /* Define o espaçamento entre os itens */
    align-items: center; /* Define a alinhamento dos itens */ 
}				

.logo_menu{
    width: 150px; /* Define a largura */
}

nav li{
    display: inline; /* Define o display inline */
}

li a{
    color: rgb(0, 0, 0); /* Define a cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    font-size: 17px; /* Define o tamanho da fonte */
    font-weight: bold; /* Define a espessura da fonte */
    padding: 0 10px; /* Define o espaçamento interno */
}

li a:hover {
    color: #8a95bb;
}

.active {
    background-color: #e7e9ed;
  }

.item_menu{
    padding: 20px; /* Define o espaçamento interno */
    text-decoration: none; /* Remove o sublinhado */
    font-size: 18px; /* Define o tamanho da fonte */
    font-weight: bold; /* Define a espessura da fonte */
    color:#00bfff /* Define a cor da fonte */
}
.item_menu:hover{
    color:#ffffff /* Define a cor da fonte ao passar o mouse */
}

#capa{
    width: 100%; /* Define a largura */
    height: 50%; /* Define a altura */
}

/* CONTEÚDO DO SITE */

.titulo-centralizado{
    padding: 100px 0px 0px;
    margin: 0px 0px 20px; /* Define o espaçamento interno */
	text-align: center; /* Define o alinhamento do texto */
    text-transform: uppercase; /* Define o texto em caixa alta */
    letter-spacing: 5px; /* Define o espaçamento entre as letras */  
    font-weight: bold; /* Define a espessura da fonte */
    font-style: italic; /* Define o estilo da fonte */
    font-size: 40px /* Define o tamanho da fonte */
}

.texto-justificado{
    text-align: left; /* Define o alinhamento do texto */
    padding: 0px 100px 0px; /* Define o espaçamento interno */
    font-size: 20px; /* Define o tamanho da fonte */
}

h2 {
    padding:20px 0 0 0; /* Define o espaçamento interno */    
}

.img{
    width: 100%; /* Define a largura */
    height: 400px; /* Define a altura */
    object-fit: cover; /* Define o tamanho da imagem */
}